
input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  #id1 {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left:20px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 5%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }